h1
    {
      color: rgb(252, 195, 7);
      font-size: 26pt;
      
    }
    body
    {
      background-color: gray;
    }
    a
    {
      color: rgb(23,29, 110);
    }
    h2
    {
      color:rgb(23, 29, 110);
    }
